

#container {
    display: inline-block;
    position: relative;
  }
  
  #container figcaption {
    position: absolute;
    top: 110px;
    right: 50px;

    font-family: "Trirong", serif;
    font-weight: 400;
    font-size: 55px;
    line-height: 32px;

    text-align: center;
    letter-spacing: 2px;

    color: white;
  }

body {
    text-align: center;
    background-color: black;
}

button {
    border: none;
    height: 3em;
    color: white;
}

button:hover {
    cursor: pointer;
}

.pomodoro .botoes {
    /*
    flex-direction: column;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    */
    align-items: center;
    padding: 0px;

}


.iniciar-btn {
    width: 100px;
    height: 60px;
    font-family: "Audiowide", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    border-radius: 25px;

    text-align: center;

    color: white;
    background-color: black;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.pausar-btn {
    width: 100px;
    height: 60px;
    font-family: "Audiowide", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    background-color: black;
    color: white;
    border-radius: 25px;
}

.desistir-btn {
    width: 100px;
    height: 60px;
    font-family: "Audiowide", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;

    background-color: black;
    color: white;
    border-radius: 25px;
}

.bloqueador-btn {
    background-color: rgb(51, 0, 238);
}

.blocklist-btn {
    background-color: rgb(92, 92, 216);
}

.whitelist-btn {
    background-color: rgb(156, 156, 251);
}

.pomodoro {

    flex-direction: column;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 30px;
}

.try-2 {
    position: flex;
}


.pomodoro2-btn {
    width: 150px;
    height: 25px;
    font-family: "Trirong", serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    border-radius: 25px;
    text-align: center;

    background-color: #8325db;


    flex: none;
    order: 0;
    flex-grow: 0;
}


.sabotage-btn {
    width: 150px;
    height: 25px;
    font-family: "Trirong", serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    border-radius: 25px;
    text-align: center;

    background-color: #7e0303;


    flex: none;
    order: 0;
    flex-grow: 0;
}

.menu {
    position: relative;
}

.enviarLista {
    background-color: rgb(255, 125, 125);

}

.tabela-sabotage {
    width: '100%';
    font-family: 'Inter';
    border-collapse: collapse;
    font-size: 14px;
    margin-bottom: 20px;
    position: absolute;
    top: 25px;
    left: 25px;

}

th, td {
    text-align: left;
    padding: 8px;
  }
  
  th {
    background-color: #8A2BE2;
    color: #fff;
  }
  
  td {
    border-bottom: 1px solid #ddd;
  }
  
  tr:hover {
    background-color: rgb(95, 93, 93);
  }



