html {
    height: 500px;
    width: 500px;
}

body {
    text-align: center;
    
}

button {
    border: none;
    height: 3em;
    color: white;
}

button:hover {
    cursor: pointer;
}

.iniciar-btn {
    background-color: green;
}

.desistir-btn {
    background-color: #C4004D;
}

.home-btn {
    background-color: rgb(55, 35, 151);
    position: relative;
    top: 200px;
}

.bloqueador-btn{
    background-color: rgb(51, 0, 238);
}

.blocklist-btn{
    background-color: rgb(92, 92, 216);
}

.whitelist-btn{
    background-color: rgb(156, 156, 251);
}

.pomodoro {

    position: relative;
    top: 150px;

}

.pomodoro-personalizado{
    position: relative;
    top: 200px;
}

.enviarPomodoro-btn{
    background-color: darkgreen;
}

.menu {
    position: relative;
    top: 300px;
}