html {
    height: 500px;
    width: 500px;
}

body {
    text-align: center;
    
}

button {
    border: none;
    height: 3em;
    color: white;
}

button:hover {
    cursor: pointer;
}

.iniciar-btn {
    background-color: green;
}

.desistir-btn {
    background-color: #C4004D;
}

.home-btn {
    background-color: rgb(55, 35, 151);

}

.bloqueador-btn{
    background-color: aqua;
    position: relative;
    top: -300px;
}

.pomodoro {

    position: relative;
    top: 150px;

}

.pomodoro-personalizado{
    position: relative;
    top: 200px;
}

.enviarPomodoro-btn{
    background-color: darkgreen;
}

.menu {
    position: relative;
    top: 300px;
}